.word-doc-card {
  position: relative;
  background-image: linear-gradient(to right, $light-blue, $light-green);
  height: 10%;
  width: 100%;
  display: flex;
  font-weight: bold;
  border-radius: 15px;
  margin-left: 1%;
  margin-top: 16%;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
  border: 2px solid $black;
}

.word-doc-title {
  color: $black;
  font-size: 3vw;
  background-color: $white;
  border-radius: 15px;
  margin-top: 10%;
  height: auto;
  width: 90%;
  border: 2px solid $black;
  margin-left: 5%;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  display: flex;
  padding: 1%;
}

.icon-word-pdf {
  height: auto;
  width: 70%;
  border-radius: 15px;
  border: 2px solid $black;
  margin-top: 8%;
  display: grid;
  margin-left: 16%;
  margin-bottom: 10%;
}

@media screen and (max-width: 576px) {
  .word-doc-card {
    position: relative;
    background-image: linear-gradient(to right, $light-blue, $light-green, $light-blue);
    height: auto;
    width: 104%;
    display: flex;
    font-weight: bold;
    border-radius: 15px;
    margin-left: 1%;
    margin-top: 6%;
    padding-bottom: 3%;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    border: 2px solid $black;
  }

  .word-doc-title {
    color: $black;
    font-size: 3vw;
    background-color: $white;
    border-radius: 15px;
    margin-top: 3%;
    height: auto;
    width: 20%;
    border: 2px solid $black;
    margin-left: 40%;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    display: flex;
    padding: 1%;
  }

  .icon-word-pdf {
    height: auto;
    width: 60%;
    border-radius: 15px;
    border: 2px solid $black;
    margin-top: 5%;
    display: grid;
    margin-left: 24%;
    margin-bottom: 0%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .word-doc-card {
    position: relative;
    background-image: linear-gradient(to right, $light-blue, $light-green, $light-blue);
    height: auto;
    width: 100%;
    display: flex;
    font-weight: bold;
    border-radius: 15px;
    margin-left: 0%;
    margin-top: 6%;
    flex-direction: row;
    font-family: 'Ubuntu', sans-serif;
    border: 2px solid $black;
  }

  .word-doc-title {
    color: #0E0000;
    font-size: 4vw;
    background-color: #ffffff;
    border-radius: 15px;
    margin-top: 2%;
    height: 10%;
    width: 25%;
    border: 2px solid #0E0000;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    display: flex;
    margin-left: 40%;
  }

  .icon-word-pdf {
    flex-direction: row;
    height: auto;
    width: 60%;
    border-radius: 15px;
    border: 2px solid $black;
    margin-top: 55%;
    display: grid;
    margin-left: -110%;
    margin-bottom: 10%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .word-doc-card {
    position: relative;
    background-image: linear-gradient(to right, $light-blue, $light-green, $light-blue);
    height: 100%;
    width: 100%;
    display: flex;
    font-weight: bold;
    border-radius: 15px;
    margin-left: 0%;
    margin-top: 6%;
    flex-direction: row;
    font-family: 'Ubuntu', sans-serif;
    border: 2px solid $black;
  }

  .word-doc-title {
    color: #0E0000;
    font-size: 4vw;
    background-color: #ffffff;
    border-radius: 15px;
    margin-top: 2%;
    height: 10%;
    width: 15%;
    border: 2px solid #0E0000;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    display: flex;
    margin-left: 45%;
  }

  .icon-word-pdf {
    flex-direction: row;
    height: auto;
    width: 50%;
    border-radius: 15px;
    border: 2px solid $black;
    margin-top: 50%;
    display: grid;
    margin-left: -100%;
    margin-bottom: 10%;
  }
}
