.slideshow_project {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.slideshow_project img {
  width: 98%;
  height: 98%;
  margin: 1%;
  border-radius: 15px;
  border: 2px solid black;
  display: none;
}

.slideshow_project img.active_project {
  display: block;
}

.btn_container_project {
  margin: 1rem;
  text-align: center;
}

.btn_project {
  margin: 0 5px;
  padding: 5px 0px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: white;
  color: black;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2vw;
  font-weight: bold;
  width: 10%;
}

@media screen and (max-width: 576px) {
  .slideshow_project {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }

  .slideshow_project img {
    width: 98%;
    height: 98%;
    margin: 1%;
    border-radius: 15px;
    border: 2px solid black;
    display: none;
  }

  .slideshow_project img.active_project {
    display: block;
  }

  .btn_container_project {
    margin: 1rem;
    text-align: center;
  }

  .btn_project {
    margin: 0 5px;
    padding: 5px 0px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: white;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2vw;
    font-weight: bold;
    width: 15%;
  }
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
  .slideshow_project {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }

  .slideshow_project img {
    width: 98%;
    height: 98%;
    margin: 1%;
    border-radius: 15px;
    border: 2px solid black;
    display: none;
  }

  .slideshow_project img.active_project {
    display: block;
  }

  .btn_container_project {
    margin: 1rem;
    text-align: center;
  }

  .btn_project {
    margin: 0 5px;
    padding: 5px 0px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: white;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2vw;
    font-weight: bold;
    width: 15%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .slideshow_project {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }

  .slideshow_project img {
    width: 98%;
    height: 98%;
    margin: 1%;
    border-radius: 15px;
    border: 2px solid black;
    display: none;
  }

  .slideshow_project img.active_project {
    display: block;
  }

  .btn_container_project {
    margin: 1rem;
    text-align: center;
  }

  .btn_project {
    margin: 0 5px;
    padding: 5px 0px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: white;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2vw;
    font-weight: bold;
    width: 15%;
  }
}
