.navbar {
  position: relative;
  width: 90%;
  height: 65%;
  background-image: linear-gradient(to right, $dark-blue, $dark-green, $dark-blue);
  border-radius: 50px;
  border: 2px solid rgb(0, 0, 0);
  margin-top: 2%;
  margin-left: 11%;
  margin-bottom: 2%;
}

.navbar-2 {
  width: 90%;
  height: 85%;
  background-color: $white;
  border-radius: 50px;
  border: 2px solid black;
  margin-left: 5%;
  background-image: linear-gradient(to right, $light-blue, $light-green, $light-blue);
}

a.navbar-item {
  display: flex;
  float: right;
}
li {
  display: inline;
}


a.navbar-item {
  background-color: ($blue2);
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 50px;
  font-size: 2vw;
  margin-top: 0.75%;
  margin-left: 5%;
  border: 2px solid $black;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  width: 24%;
  height: 80%;
  justify-content: center;
  align-items: center;
  float: left;
}

@media screen and (max-width: 576px) {
  .container {
    flex-direction: column; /* Stack items vertically */
    align-items: stretch; /* Stretch items to full width */
  }
.navbar {
  width: 130%;
  margin: 5%;
  background-image: linear-gradient(to right, $dark-blue, $dark-green, $dark-blue);
}

  .navbar-2 {
    width: 90%;
    height: 85%;
    background-image: linear-gradient(to right, $light-blue, $light-green, $light-blue);
    border-radius: 50px;
    border: 2px solid black;
    margin: auto;
  }

  a.navbar-item {
    display: flex;
    background-color: ($blue2);
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 50px;
    font-size: 2vw;
    margin-top: 0.5%;
    margin-left: 2%;
    border: 2px solid $black;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    width: 28%;
    height: 80%;
    justify-content: center;
    align-items: center;
    float: left;
  }
}

@media screen and  (min-width: 576px) and (max-width: 767.98px) {
  .navbar {
  position: relative;
  width: 90%;
  height: 65%;
  background-image: linear-gradient(to right, $dark-blue, $dark-green, $dark-blue);
  border-radius: 50px;
  border: 2px solid rgb(0, 0, 0);
  margin-top: 5%;
  margin-bottom: 2%;
  margin-left: 0%;
  }

  .navbar-2 {
  width: 90%;
  height: 80%;
  background-image: linear-gradient(to right, $light-blue, $light-green, $light-blue);
  border-radius: 50px;
  border: 2px solid black;
  margin: auto;
  }

  a.navbar-item {
    display: flex;
    background-color: ($blue2);
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 50px;
    font-size: 2vw;
    margin-top: 1%;
    margin-left: 2%;
    border: 2px solid $black;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    width: 28%;
    height: 80%;
    justify-content: center;
    align-items: center;
    float: left;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .navbar {
  position: relative;
  width: 80%;
  height: 60%;
  background-image: linear-gradient(to right, $dark-blue, $dark-green, $dark-blue);
  border-radius: 50px;
  border: 2px solid rgb(0, 0, 0);
  margin-top: 4%;
  }

  .navbar-2 {
  width: 90%;
  height: 70%;
  background-image: linear-gradient(to right, $light-blue, $light-green, $light-blue);
  border-radius: 50px;
  border: 2px solid black;
  margin: auto;
  }

  a.navbar-item {
    display: flex;
    background-color: ($blue2);
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 50px;
    font-size: 2vw;
    margin-top: 1%;
    margin-left: 5%;
    border: 2px solid $black;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    width: 25%;
    height: 80%;
    justify-content: center;
    align-items: center;
    float: left;
  }
}
